<mat-toolbar color="accent"
  ><span>Friends Management Application</span></mat-toolbar
>
<section>
  <div class="example-button-row">
    <button
      mat-stroked-button
      color="primary"
      routerLink="/add"
      routerLinkActive="mat-link-active"
    >
      Add User
    </button>
    <button
      mat-stroked-button
      color="primary"
      routerLink="/common"
      routerLinkActive="mat-link-active"
    >
      Common
    </button>
    <button
      mat-stroked-button
      color="primary"
      routerLink="/linkup"
      routerLinkActive="mat-link-active"
    >
      Link Up
    </button>
    <button
      mat-stroked-button
      color="primary"
      routerLink="/listing"
      routerLinkActive="mat-link-active"
    >
      Listing
    </button>
    <button
      mat-stroked-button
      color="primary"
      routerLink="/posting"
      routerLinkActive="mat-link-active"
    >
      Post
    </button>
    <button
      mat-stroked-button
      color="primary"
      routerLink="/updates"
      routerLinkActive="mat-link-active"
    >
      Updates
    </button>
  </div>
</section>
<router-outlet></router-outlet>
